$blue-color: #3E8A8A;
$blue-accent-color: #92D1C4;
$blue-light-color: #C6DAB9;

$red-color: #981E16;
$red-accent-color: #BA3424;
$red-light-color: #E24B30;

$black-color: #262832;
$black-accent-color: #303440;

$md-desire: (
    50 : #fce7e9,
    100 : #f8c4c8,
    200 : #f39ca3,
    300 : #ee747e,
    400 : #ea5762,
    500 : #e63946,
    600 : #e3333f,
    700 : #df2c37,
    800 : #db242f,
    900 : #d51720,
    A100 : #ffffff,
    A200 : #ffd4d5,
    A400 : #ffa1a4,
    A700 : #ff878b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-honey: (
    50 : #fdfefd,
    100 : #fbfefa,
    200 : #f8fdf7,
    300 : #f5fcf3,
    400 : #f3fbf1,
    500 : #f1faee,
    600 : #eff9ec,
    700 : #edf9e9,
    800 : #ebf8e7,
    900 : #e7f6e2,
    A100 : #ffffff,
    A200 : #303440,
    A400 : #262832,
    A700 : #1f2129,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-light: (
    50 : #f5fbfb,
    100 : #e5f4f5,
    200 : #d4edee,
    300 : #c2e5e7,
    400 : #b5e0e1,
    500 : #a8dadc,
    600 : #a0d6d8,
    700 : #97d0d3,
    800 : #8dcbce,
    900 : #7dc2c5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e5feff,
    A700 : #cbfdff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-queen: (
    50 : #e9eff3,
    100 : #c7d7e2,
    200 : #a2bdce,
    300 : #7da3ba,
    400 : #618fac,
    500 : #457b9d,
    600 : #3e7395,
    700 : #36688b,
    800 : #2e5e81,
    900 : #1f4b6f,
    A100 : #add8ff,
    A200 : #7ac0ff,
    A400 : #47a8ff,
    A700 : #2e9cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-space: (
    50 : #e4e7eb,
    100 : #bbc2cd,
    200 : #8e9aab,
    300 : #617289,
    400 : #3f5370,
    500 : #1d3557,
    600 : #1a304f,
    700 : #152846,
    800 : #11223c,
    900 : #0a162c,
    A100 : #6896ff,
    A200 : #3573ff,
    A400 : #0250ff,
    A700 : #0047e7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
