/**
REFERENCES:

http://paranoida.github.io/sass-mediaqueries/
https://github.com/taupecat/sass-responsive

**/

/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

@import 'settings';
@import 'utils';
@import 'vendors';

@import 'theme';*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import "./node_modules/@angular/material/core/theming/all-theme";

$family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace !default;

$md-liberty: (
    50 : #fce7e9,
    100 : #f8c4c8,
    200 : #f39ca3,
    300 : #ee747e,
    400 : #ea5762,
    500 : #e63946,
    600 : #e3333f,
    700 : #df2c37,
    800 : #db242f,
    900 : #d51720,
    A100 : #ffffff,
    A200 : #ffd4d5,
    A400 : #ffa1a4,
    A700 : #ff878b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-verdigris: (
    50 : #fdfefd,
    100 : #fbfefa,
    200 : #f8fdf7,
    300 : #f5fcf3,
    400 : #f3fbf1,
    500 : #f1faee,
    600 : #eff9ec,
    700 : #edf9e9,
    800 : #ebf8e7,
    900 : #e7f6e2,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-gainsboro: (
    50 : #f5fbfb,
    100 : #e5f4f5,
    200 : #d4edee,
    300 : #c2e5e7,
    400 : #b5e0e1,
    500 : #a8dadc,
    600 : #a0d6d8,
    700 : #97d0d3,
    800 : #8dcbce,
    900 : #7dc2c5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e5feff,
    A700 : #cbfdff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-tan: (
    50 : #e9eff3,
    100 : #c7d7e2,
    200 : #a2bdce,
    300 : #7da3ba,
    400 : #618fac,
    500 : #457b9d,
    600 : #3e7395,
    700 : #36688b,
    800 : #2e5e81,
    900 : #1f4b6f,
    A100 : #add8ff,
    A200 : #7ac0ff,
    A400 : #47a8ff,
    A700 : #2e9cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-fuzzy: (
    50 : #e4e7eb,
    100 : #bbc2cd,
    200 : #8e9aab,
    300 : #617289,
    400 : #3f5370,
    500 : #1d3557,
    600 : #1a304f,
    700 : #152846,
    800 : #11223c,
    900 : #0a162c,
    A100 : #6896ff,
    A200 : #3573ff,
    A400 : #0250ff,
    A700 : #0047e7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

@include mat-core();

$talent-primary: mat-palette($md-fuzzy);
$talent-accent:  mat-palette($md-tan, A200, A100, A400);

// The warn palette is optional (defaults to red).
$talent-warn:    mat-palette($md-liberty);

// Create the theme object (a Sass map containing all of the palettes).
$talent-theme: mat-light-theme($talent-primary, $talent-accent, $talent-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($talent-theme);

html, body {
  font-family: $family-sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}
