<!--<div style="background: url('/assets/img/slide-01.svg') #4F95D0 no-repeat bottom left; min-height: 700px; background-size: contain">
  <h1 style="position: absolute;
    top: 10%;
    left: 30%;
    font-size: 4rem;
    color: white;">Show your talent thru git source!</h1>
  <h2 style="position: absolute;
    top: 25%;
    left: 30%;
    font-size: 2rem;
    color: darkslategray;
    word-wrap: break-word;">As a recruiter find the best talent, to fit your client needs!</h2>
  <h2 style="position: absolute;
    top: 30%;
    left: 30%;
    font-size: 2rem;
    color: darkslategray;
    word-wrap: break-word;
    width: 70%;">As a developer, gitalent will show your code as your CV.</h2>

  <button (click)="onSelect()">Effect</button>
  <div class="panel" *ngIf="toggle" [@bounceIn]="toggle">
    <h1>Angular 2 Foursource Boilerplate</h1>
  </div>
</div>-->
<gt-carousel>
  <slide-tag *ngFor="let slide of slidesModel"
  [title]="slide.title"
  [image]="slide.image" #origin="slideTag">
    <template *hostView="origin"></template>
  </slide-tag>
</gt-carousel>
