section {
  text-align: center;
  padding-top: 85px;
  background: url(/assets/images/group.png) no-repeat #46268b 10% 100%;
  min-height: 450px;
  color: white;

  h1, h2 {
    text-align: right;
    padding-right: 60px;
    color: #fff
  }
}
