<nav class="nav is-mobile" [class.has-shadow]="options?.hasShadow">
  <div class="container">
    <div class="nav-left" *ngIf="options?.hasBrand && brand">
      <a [routerLink]="brand?.link" class="nav-item">
        <img *ngIf="brand?.image" [src]="brand?.image" [alt]="brand?.label">
        <h2 *ngIf="!brand?.image">{{brand?.label}}</h2>
      </a>
      <ng-container *ngFor="let menuLeft of menuList">
        <a *ngIf="menuLeft.position === left && menuLeft.enable"
        [class]="menuLeft.classes.join(' ')"
        [routerLink]="menuLeft.link"
        [class.is-active]="menuLeft.active">
          <i *ngIf="menuLeft.icon" [class]="menuLeft.icon"></i>
          {{menuLeft.label}}
        </a>
      </ng-container>
      <!--<a class="nav-item is-tab is-hidden-mobile is-active">Home</a>
      <a class="nav-item is-tab is-hidden-mobile">Features</a>
      <a class="nav-item is-tab is-hidden-mobile">Pricing</a>
      <a class="nav-item is-tab is-hidden-mobile">About</a>-->
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <ng-container *ngFor="let menuRight of menuList">
        <a *ngIf="menuRight.position === right && menuRight.enable" [class]="menuRight.classes.join(' ')" [routerLink]="menuRight.link">
          <i *ngIf="menuRight.icon" [class]="menuRight.icon"></i>
          {{menuRight.label}}
        </a>
      </ng-container>
    </div>
    <!--<div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="nav-item is-tab is-hidden-tablet">Features</a>
      <a class="nav-item is-tab is-hidden-tablet">Pricing</a>
      <a class="nav-item is-tab is-hidden-tablet">About</a>
      <a class="nav-item is-tab">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="http://bulma.io/images/jgthms.png">
        </figure>
        Profile
      </a>
      <a class="nav-item is-tab">Log out</a>
    </div>-->
  </div>
</nav>
